body {
    font-family: 'Lucida Grande', 'Helvetica', sans-serif;
}

#newNoteButton{
    width:100%; 
    height:40px;
    font-size:30px;
    border-radius: 8px;
    text-align: center;
    background-color: #f44336;
}

.note {
    background-color: rgb(255, 240, 70);
    height: 250px;
    padding: 10px;
    position: absolute;
    width: 200px;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.note:hover .closebutton {
    display: block;
}

.closebutton {
    display: none;
    background-image: url(/img/deleteButton.png);
    height: 24px;
    position: absolute;
    left: -15px;
    top: -15px;
    width: 24px;
}

.closebutton:active {
    background-image: url(/img/deleteButtonPressed.png);
}

.edit {
    outline: none;
}

.timestamp {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 9px;
    background-color: #db0;
    color: white;
    border-top: 1px solid #a80;
    padding: 2px 4px;
    text-align: right;
}